<app-user-navig-bar class="top" ></app-user-navig-bar>

<div class="container-fluid login px-1 px-md-5 px-lg-1 px-xl-5 mt-4 py-5 mx-auto">
    
    <div *ngIf="showElement"  class=" msg mt-1">
        <div  id="alert-dismissible" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Tweeted!</strong>
        </div>
    </div>
    
    <div class="card card0 border-0">

        <div class="bg-light py-3" style="text-align: center;">
          
            <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Post your tweet</h3>
        </div>
      
       
        <div class="row d-flex">
            <div class="col-lg-3">
            </div>

            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <p *ngIf="tweetLengthExceeded" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px"><b>Tweet</b> should be less than 145 characters </p>
                    
                    <form class="formgroup" [formGroup]="myFormGroup" (ngSubmit)="postTweet()">
                        <div style="text-align: center;">
                            <p *ngIf="tweetEmpty"><b  style="color: red;">Tweet</b> can't be empty !</p>
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1">                                
                            <h6 class="mb-0 text-sm">Tweet Description <i class="bi bi-pencil-square"></i></h6>
                            </label> 
                            <textarea class="text-area mb-0 form-control" [formControl]="myFormGroup.controls['tweet']" (keyup) ="tweetLengthValidationMethod()" id="textarea" placeholder="Should be less than 145 charcters!!" maxlength="145" name="textarea" rows="3"></textarea>
                            <div *ngIf="showTweetLength">
                                <p *ngIf="showTweetRed"><b  style="color: red;">145 </b> characters length completed</p>
                                <p *ngIf="!showTweetRed"><b >{{remainingTweetLength}} </b>characters remaining!!</p>
                            </div>
                        </div>

                        <!-- <div class="row mt-2 px-3"> 
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Tags<i class="bi bi-hash"></i></h6>
                            </label> 
                            <textarea class="text-area mb-0 form-control" id="textarea" [formControl]="myFormGroup.controls['tag']" (keyup) ="tagLengthValidationMethod()" placeholder="Should less than 50 charcters!!" name="textarea" maxlength="50" rows="2"></textarea>
                            <div *ngIf="showTagLength">
                                <p *ngIf="showTagRed"><b  style="color: red;">50 </b> characters length completed</p>
                                <p *ngIf="!showTagRed"><b >{{remainingTagLength}} </b>characters remaining!!</p>
                            </div>
                        </div> -->
                    
                        <div class="row mb-3 mt-1 px-3"> 
                            <button type="submit" class="form-group form-control btn-blue text-center">Post Tweet<i class="ml-2 bi bi-inboxes"></i></button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
<!-- <div class="footer bg-blue py-2">
    <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved to <a class="cts" href="https://www.cognizant.com/" target="_blank"><b>COGNIZANT</b><i class=" ml-2 fa-lg bi bi-building"></i></a>.</small>
        <div class="social-contact ml-4 ml-sm-auto"> <a class="github" href="https://github.com/SanthoshManapuram568/console-based-tweetapp" target="_blank"><i class="mr-4 bi bi-github fa-lg"></i></a> 
    </div>
</div> -->
</div>