<div class="top bg-blue py-3" style="text-align: center;">
  <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Tweet App</h3>
</div>

<div class="container-fluid login px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
      <div class="row content d-flex">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6">
              <div class="card2 card border-0 px-4 py-5">
                  <div class="row mb-4 px-3">
                      <h3 class="mb-0 mr-4 mt-2">Login </h3>
                  </div>
                  <div class="text-center">
                      <p *ngIf="invalidLogin" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Invalid Login <b> Credentials!</b>  </p>
                      <p *ngIf="nullValueErrorMessage" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter both <b>Username</b> and <b>Password</b>  </p>
                      <p *ngIf="emailValid" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Invalid <b> Email!</b>  </p>
                  </div>
                  <form class="formgroup" [formGroup]="myFormGroup" (ngSubmit)="login()">
                  <div class="row px-3"> 
                      <label class="mb-1">
                          <h6 class="mb-0 text-sm">Email Address</h6>
                      </label> 
                      <input class="mb-4 form-control" [formControl]="myFormGroup.controls['email']" [ngClass]="{'warningOutline' : emailValid}" type="text" (keyup) ="emailValidation(email)" #email name="email" placeholder="Enter a valid email address"> 
                  </div>
                  <div class="row px-3"> 
                      <label class="mb-1">
                          <h6 class="mb-0 text-sm">Password</h6>
                      </label> 
                      <input class="form-control" [formControl]="myFormGroup.controls['password']" type="password" #password name="password" (keyup) ="passwordEmpty()" placeholder="Enter password"> 
        </div>
                      
                  <div class="row px-3 mt-2 "> 
                         <label class="mb-4 mt-2">
                          <h6 class="mb-0 forgot text-sm"><a [routerLink]="['/forgot']" style="text-decoration: none;">Forgot Password ?</a></h6>
                         </label> 
                  </div>
                 
                      <div class="form-group row mb-3  px-3"> <button type="submit" class="btn btn-block btn-blue text-center">Login</button> </div>
                  <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger "  [routerLink]="['/register']" >Register</a></small> </div>
              </form>
              </div>
          </div>
      </div>
      <div class="footer bg-blue py-4">
          <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved to <a class="cts" href="https://www.cognizant.com/" target="_blank"><b>COGNIZANT</b><i class=" ml-2 fa-lg bi bi-building"></i></a>.</small>
              <div class="social-contact ml-4 ml-sm-auto"> <a class="github" href="https://github.com/" target="_blank"><i class="mr-4 bi bi-github fa-lg"></i></a> 
          </div>
      </div>
  </div>
</div>
</div>





<!-- *******************************************************************8 -->
<!--  <div class="container" > <!--*ngIf="!authenticationService.isUserLoggedIn()"-->
    <!-- <div>
      User Name : <input type="text" name="username" [(ngModel)]="loginRequest.email">
      Password : <input type="password" name="password" [(ngModel)]="loginRequest.password">
    </div>

    <a [routerLink]="['/forgot']">Forgot Password ?</a>

    <button (click)=checkLogin() class="btn btn-success">
      Login
    </button>

    <div>
      Don't have an account? <a class="text-danger "  [routerLink]="['/register']" >Register</a>
    </div>

</div> -->