<!-- header -->
<div class="bg-blue top py-3" style="text-align: center;">
    <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Tweet App</h3>
</div>
<!-- container -->
<div class="container-fluid register px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <form class="formgroup" [formGroup]="myFormGroup" (ngSubmit)="register()">
    <div class="card card0 border-0">
       
            <!-- content -->
        <div class="row content d-flex">
            <div class="col-lg-3">
                <div *ngIf="showElement"  class=" msg mt-1">
                    <div  id="alert-dismissible" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Registered successfully!</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h3 class="mb-0 mr-4 mt-2">Register New User </h3>
                    </div>
                    
                    <!--Show Validation Msg  -->
                    
                    <div class="text-center">
                        <p *ngIf="passwordLength" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px"><b>password</b> should be greater than 6 and less than 12 characters </p>
                        <p *ngIf="prePasswordCheck" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter <b>password</b> first</p>
                        <p *ngIf="passwordValidation" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px"><b>Password</b> didn't matched</p>
                        <p *ngIf="emailValid" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter Valid <b>Email</b> Id</p>
                        <p *ngIf="emailNotAvailable" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Entered <b>Email</b> already taken!!</p>
                        <p *ngIf="phoneValidation" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter Valid <b>PhoneNumber</b></p>
                        <p *ngIf="phoneValidationIsNan" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter <b>numbers</b> only!</p>
                        <p *ngIf="genderNotAvailable" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px"><b>Gender</b> field is required</p>
                        <p *ngIf="dateValid" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter Valid <b>Date</b></p>

                    </div>
        

                    <div class="form-group row px-3"> 
                        <label class="mb-0">
                            <h6 class="mb-0 text-sm">First Name</h6>
                        </label> 
                        <input class="mb-2 form-control" [formControl]="myFormGroup.controls['firstName']" #firstName type="text" name="firstName" placeholder="Enter your first name"> 
                    </div>
                    <div class="form-group row px-3"> 
                        <label class="mb-0">
                            <h6 class="mb-0 text-sm">Last Name</h6>
                        </label> 
                        <input class="mb-1 form-control" [formControl]="myFormGroup.controls['lastName']" #lastName type="text"  name="lastName" placeholder="Enter your last name"> 
                    </div>

                    <div class="form-group row px-3">
                        <label class="mb-0">
                            <h6 class="mb-0 mr-4 text-sm">Gender</h6>
                        </label>
                    <label class="radio-inline  mr-4 ">
                        <input type="radio" value="male"  #male formControlName="gender" name="gender" >Male
                    </label>
                      <label class="radio-inline  mr-4 ">
                        <input type="radio" value="female" #female formControlName="gender" name="gender">Female
                      </label>
                    </div>

                    <!-- <div class="form-group row px-3"> 
                        <label class="mb-0">
                            <h6 class="mb-0 text-sm">Gender</h6>
                        </label> 
                        <input class="mb-1 form-control" [formControl]="myFormGroup.controls['gender']" name="gender" placeholder="Enter Gender"> 
                    </div> -->

                    <div class="form-group row px-3"> 
                        <label class="mb-0">
                            <h6 class="mb-0 text-sm">DOB</h6>
                        </label> 
                        <input class="mb-1 form-control" (change)="checkDate()" #date [formControl]="myFormGroup.controls['date']" [ngClass]="{'warningOutline' : dateValid}" type="date"  name="date" placeholder=""> 
                        <!-- <input class="mb-1 form-control" [formControl]="myFormGroup.controls['date']" name="date" placeholder="Enter DOB">  -->
                    </div>

                    <div class="form-group row px-3"> 
                        <label class="mb-0">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                        </label> 
                        <input class="mb-1 form-control" [formControl]="myFormGroup.controls['email']" [ngClass]="{'warningOutline' : emailValid,'warningOutline1' : emailNotAvailable}" #email type="text" (keyup) ="emailValidation(email)" name="email" placeholder="Enter a valid email address"> 
                    </div>
                    
                    <div class="form-group row px-3"> 
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label> 
                        <input #password class="mb-1 form-control" [formControl]="myFormGroup.controls['password']"  type="password" (keyup)="checkPrePassword(password)"   name="password" placeholder="Enter password">
                    </div>

                    <div class="form-group row px-3"> 
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Confirm Password</h6>
                        </label> 
                        <input #rePassword class="mb-1 form-control" [formControl]="myFormGroup.controls['rePassword']" [ngClass]="{'warningOutline' : passwordValidation}" name="re-password" type="password" (keyup)="checkPassword(password,rePassword)" name="re-password" placeholder="Confirm password"> 
                    </div>

                    <div class="form-group row px-3"> 
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Contact Number</h6>
                        </label> 
                        <input #contact class="mb-1 form-control" (keyup) ="phoneNumberValidaton(contact)" [ngClass]="{'warningOutline' : phoneValidation}" [formControl]="myFormGroup.controls['contact']"  name="contact" type="text"   placeholder="Enter Contact Number"> 
                    </div>

                    <!-- <div class="form-group row px-3"> 
                        <label class="mb-0">
                            <h6 class="mb-0 text-sm">Date of birth</h6>
                        </label> 
                        <input name="date" #date (change)="dateChange(date)" type="date" required>
                        <input class="mb-1 form-control" (change)="checkDate()" #date [formControl]="myFormGroup.controls['date']" type="date"  name="date" placeholder=""> 
                    </div>

                    <div class="form-group row px-3">
                        <label class="mb-0">
                            <h6 class="mb-0 mr-4 text-sm">Gender</h6>
                        </label>
                    <label class="radio-inline  mr-4 ">
                        <input type="radio" value="male"  #male (click)="getGender(male)" name="optradio" >Male
                    </label>
                      <label class="radio-inline  mr-4 ">
                        <input type="radio" value="female" #female (click)="getGender(female)" name="optradio">Female
                      </label>
                      <label class="radio-inline ">
                        <input type="radio" value="others" #others (click)="getGender(others)" name="optradio"> Others
                      </label>
                    </div> -->
                   
                    <div class="form-group row mb-3 px-3"> <button type="submit" class="btn btn-block btn-blue text-center">Register</button> </div>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Already a user? <a class="text-danger "  [routerLink]="['/login']">Login</a></small> </div>
                </div>
            </div>
        </div>
        <div class="footer bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved to <a class="cts" href="https://www.cognizant.com/" target="_blank"><b>COGNIZANT</b><i class=" ml-2 fa-lg bi bi-building"></i></a>.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <a class="github" href="https://github.com/SanthoshManapuram568/console-based-tweetapp" target="_blank"><i class="mr-4 bi bi-github fa-lg"></i></a> 
                    </div>    
            </div>
        </div>
    </div>
</form>
</div>
